@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ShpockMabryBold";
    src: url("/Fonts/ShpockMabry-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "ShpockMabryRegular";
    src: url("/Fonts/ShpockMabry-Regular.woff2") format("woff2");
  }
}
